<nav class="pagination" role="navigation">
  {{#if prev}}
  <a class="newer-posts" href="{{page_url prev}}"><icon name="ei-chevron-left" /> Newer Posts</a>
  {{/if}}
  {{#if next}}
  <a class="older-posts" href="{{page_url next}}">Older Posts <icon name="ei-chevron-right" /></a>
  {{/if}}
</nav>